"*":
  core:
    disabledPackages: [
      "antialiased"
      "one-vibrancy"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "bd7d610d-e237-4ced-9f7b-afc4ff5d3025"
  "one-vibrancy": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4

